body {
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    width: 100%;
    
}

ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
    grid-template-columns: 1fr auto;
}

ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

h1 {
    text-align: center;
}

input {
    border: none;
    width: 100%;
}

.red-mark {
    color: black; 
    cursor: pointer; 
    transition: color 0.3s; 
}
  
.red-mark:hover {
    color: red; 
}

.container {
    max-width: 400px; 
}

